html 
    head 
        title= "Mi primera barra"

    body 
        h1=titulo
        meter(
            min=Valor minimo 
            max=Valor maximo
            value=Valor_actual
        )